<h2>Create your first Tomagatchi!</h2>

<form action="/pets_list" method="post">
  <div class = "form-group">
    <label for = "form_name"> Enter your Tamagotchi's name!</label>
    <input id = "form_name" name = "form_name" class = "form-control" type = "text">
  </div>
  <button type  = "submit" class = "btn-primary">Create my Tamagotchi!</button>
</form>
