<h2><%= @pet_name %></h2>
<ul>
  <li>Fullness: <%= @fullness %></li>
  <li>Energy: <%= @energy %></li>
  <li>Strength: <%= @strength %></li>
</ul>

<a href="/" class="btn btn-primary">Create a new pet!</a>
<a href="/pets_list" class="btn btn-secondary">View the list!</a>
